# Test requirements
coverage==4.5.4
pytest==7.1.2
pytest-forked==1.4.0
pytest-xdist==2.5.0

# Famedly requirements
matrix-nio~=0.20.1
signedjson~=1.1.4
dnspython==2.2.1
filelock==3.8.0
GitPython==3.1.29
hcloud==1.18.1
python-gnupg==0.5.0
netaddr>=0.8.0
passlib>=1.7.4
jwcrypto>=1.0
